
.contenedor-lista-tareas {
    height: auto;
    text-align: center;
    min-height: 300px;
}

li {
    margin: 5px 20px;
}

.botonEliminar {
    margin-left: auto;
    border-radius: 30px;
    background-color: red;
    color: white;
    border: 1px solid black;
}

@media (min-width: 767px){
    .contenedor {
        width: 750px;
    }

    li {
        margin: 5px 50px;
    }
}