
.contenedor-lista-tareas {
    height: auto;
    text-align: center;
    min-height: 300px;
}

li {
    margin: 5px 0;
}

@media (min-width: 767px){
    .contenedor {
        width: 750px;
    }

    li {
        margin: 5px 50px;
    }
}